In [1]:
# Dependencies
import pandas as pd
import numpy as np

In [2]:
# import csv file
csv_path = "Resources/purchase_data.csv"

# import csv to pandas dataframe 
purchase_data_df = pd.read_csv(csv_path, low_memory=False)
purchase_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [3]:
### PLAYER COUNT

# Find total number of players ... must have screen name
total_players = len(purchase_data_df["SN"].value_counts())

# create dataframe and table to display total players ... name it player count?
player_count = pd.DataFrame({"Total Players":[total_players]})
player_count

   Total Players
0            576

In [4]:
### PURCHASING ANALYSIS

# Calculate unique items, average price, purchase count, and revenue
unique_item_count = len((purchase_data_df["Item ID"]).unique())
average_price = purchase_data_df["Price"].mean()
purchase_count = len((purchase_data_df["Purchase ID"]))
revenue = purchase_data_df["Price"].sum()

# Create dataframe with calculated values
purchase_analysis_df = pd.DataFrame({"Number of Unique Items":[unique_item_count], "Average Price":[average_price], 
                                     "Number of Purchases":[purchase_count], "Total Revenue":[revenue]})

## RETURN TO THIS STEP
# currency format: avg price and revenue
purchase_analysis_df.style.format({'Average Price' : '${:,.2f}', 'Total Revenue' : '${:,.2f}'})

In [5]:
### GENDER DEMOGRAPHICS

# group by gender
gender_stats = purchase_data_df.groupby("Gender")

# count total screen names by gender
gender_totals = gender_stats.nunique()["SN"]

# divide gender count by total players
player_percent = gender_totals / total_players 

# create gender demo dataframe
gender_demo = pd.DataFrame({"Total Count": gender_totals, "Percentage of Players": player_percent})

# Format the values sorted by total count in descending order, 
gender_demo.sort_values(["Total Count"], ascending = False)

# 2 decimal places for percentage!! 
gender_demo.style.format({'Percentage of Players': '{:,.2%}'.format,})

In [6]:
### PURCHASE ANALYSIS BY GENDER

# total purchases by gender
purchase_count_gender = gender_stats["Purchase ID"].count()

# avg purchase prices by gender
avg_price_gender = gender_stats["Price"].mean()

# avg purchase total by gender
avg_total_gender = gender_stats["Price"].sum()

# avg purchase total by gender divided by purchase count (per unique shopper)
avg_per_shopper = avg_total_gender / gender_totals

# create dataframe with calculated values
gender_demo = pd.DataFrame({"Purchase Count": purchase_count_gender, "Average Purchase Price": avg_price_gender, 
                           "Average Purchase Value": avg_total_gender, "Avg Purchase Total per Person": avg_per_shopper})

# formatting
# index in top left for gender
gender_demo.index.name = "Gender"

#format with currency style
gender_demo.style.format({'Average Purchase Price' : '${:,.2f}', 'Average Purchase Value' : '${:,.2f}', 
                          'Avg Purchase Total per Person' : '${:,.2f}'})

In [7]:
### AGE DEMOGRAPHICS

# establish bins for age groups
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# sort values into established bins
purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"], age_bins, labels=group_names)
purchase_data_df

# create new dataframe, including "Age Group", and group 
grouped_age = purchase_data_df.groupby("Age Group")

# total players by age group
age_total_count = grouped_age["SN"].nunique()

# percentages by age group
age_percentage = age_total_count / total_players 

# create dataframe from calculated values
age_demo = pd.DataFrame({"Total Count": age_total_count, "Percentage of Players": age_percentage})

# FORMATTING
# no index name in corner
age_demo.index.name = None
# format percentages with 2 decimal places
age_demo.style.format({'Percentage of Players': '{:,.2%}'})

In [8]:
### PURCHASE ANALYSIS BY AGE

# total purchases by age group
purchase_count_age = grouped_age["Purchase ID"].count()

# avg purchase prices by age group
avg_price_age = grouped_age["Price"].mean()

# avg purchase total by age group
avg_total_age = grouped_age["Price"].sum()

# avg purchase total by age group divided by purchase count (per unique shopper)
avg_per_shopper_age = avg_total_age / age_total_count

# create dataframe with calculated values
age_demo = pd.DataFrame({"Purchase Count": purchase_count_age, "Average Purchase Price": avg_price_age, 
                           "Average Purchase Value": avg_total_age , 
                         "Avg Purchase Total per Person": avg_per_shopper_age})

# formatting
# index in top left for age group
age_demo.index.name = "Age Ranges"

#format with currency style
age_demo.style.format({'Average Purchase Price' : '${:,.2f}', 'Average Purchase Value' : '${:,.2f}', 
                       'Avg Purchase Total per Person' : '${:,.2f}'})

In [9]:
### TOP SPENDERS

# group purchases by screen name
spender_data = purchase_data_df.groupby("SN")

# total purchases by screen name
spender_purchase_count = spender_data["Purchase ID"].count()

# average purchase by screen name
avg_purchase_spender = spender_data["Price"].mean()

# screen name purchase total
spender_purchase_total = spender_data["Price"].sum()

# create dataframe with calculated values
top_spenders = pd.DataFrame({"Purchase Count": spender_purchase_count, "Average Purchase Price": avg_purchase_spender, 
                             "Total Purchase Value": spender_purchase_total})

# FORMATTING
# sort by descending values
top_five_spenders = top_spenders.sort_values(by=["Purchase Count"], ascending=False)


# show top 5 and format by currency
top_five_spenders.iloc[0:5].style.format({'Average Purchase Price' : '${:,.2f}', 'Total Purchase Value' : '${:,.2f}'})

In [10]:
### MOST POPULAR ITEMS

# new dataframe including info that is specific to item (ID & name)
items_df = purchase_data_df[["Item ID", "Item Name", "Price"]]

# group by id & name
item_stats_df = items_df.groupby(["Item ID", "Item Name"])

# count number of times a given item has been purchased - use price column?
item_prchs_count = item_stats_df["Price"].count()

# total purchase value - sum of previous step
ttl_prchs_val = (item_stats_df["Price"].sum())

# individual item price - divide total purchase value by purchase count
item_price = ttl_prchs_val / item_prchs_count

# create dataframe with obtained values
pop_items_df = pd.DataFrame({"Purchase Count": item_prchs_count, "Item Price": item_price, 
                                  "Total Purchase Value": ttl_prchs_val})

#FORMATTING
# top 5 and currency
top_five_items = pop_items_df.sort_values(by=["Purchase Count"], ascending=False)  
top_five_items.iloc[0:5].style.format({'Item Price' : '${:,.2f}', 'Total Purchase Value' : '${:,.2f}'})

In [11]:
### MOST PROFITABLE ITEMS

# sort pop_items_df by "Total Purchase Value" - format in same line?

pop_items_df.nlargest(5, 'Total Purchase Value').style.format({'Item Price' : '${:,.2f}', 
                                                               'Total Purchase Value' : '${:,.2f}'})

# Trend Analysis

The above code analysed data for the game, *Heroes of Pymoli*. This analysis consisted of finding the total number of players and a purchasing analysis. The purchasing analysis was further investigated based upon gender and age demographics. Top spenders, most popular items, and most profitable items were also identified. Below are three trend observations from this dataset. 

* Of the total 576 players, the majority of the player population was male, at 84.03%.
* The peak age range was 20-24 years old, 44.79% of the player population. The Age Demographics section data table suggests a positive skewness in distribtion of age ranges. 
* The top selling item was the *Oathbreaker, Last Hope of the Breaking Storm* - at 12 purchases.